.download-list {
  @extend .list-navigation;

  li {

    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
      padding: 8px 10px;
    }

    a:hover {
      background-color: white;
      color: #1E6BB8;
    }
  }
}
